.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 30;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  height: 90vh;
  width: 63.5vw;
  background-color: #ffffff;
  border-radius: 40px;
}

.detail-radarchart {
  height: 26vh;
  margin-left: 2.3vw;
  margin-top: 3.2vh;
}

.close {
  cursor: pointer;
  height: 2.7vh;
  margin-left: 60vw;
  margin-top: 3.3vh;
}

.chart-description {
  height: 30.6vh;
  position: absolute;
}

.modal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 85%;
  justify-content: space-between;
}

.totalnumber-container {
  font-size: 3.3vh;
}

.explanation-container {
  font-size: 2.6vh;
  color: #595959;
  text-align: center;
  line-height: 4.6vh;
}

.text {
  font-family: "KyoboHandwriting2021sjy";
}

.explanation {
  font-size: 2.6vh;
}

/* .selection {
  height: 6vh;
  width: 14.5vw;
  border-radius: 40px;
  border: 2px solid #54bfcf;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  background-image: url("../../assets/images/selectionarrow.svg");
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
  background-size: 7% auto;
  background-position: 90%;
} */

/* .select-arrow {
  position: absolute;
  margin-top: 2.6vh;
} */

/* .option-value {
  font-family: "KyoboHandwriting2021sjy";
} */

.selection-container {
  display: flex;
  width: 30.7vw;
  justify-content: space-between;
  margin-top: 4vh;
}

.subchart {
  height: 35vh;
  /* border: 2px solid black; */
  width: 30.6vw;
  background: rgba(242, 242, 242, 0.5);
  border-radius: 20px;
}

.charts-container {
  display: flex;
  width: 52vw;
  justify-content: space-between;
  align-items: center;
}

.subchart-img {
  height: 31.8vh;
  width: 25vw;
  margin-left: 0.8vw;
  margin-bottom: 1.2vh;
  position: absolute;
}

.sub-xaxis {
  font-size: 0.7vh;
  font-family: "Noto Sans CJK KR";
  color: #878787;
  margin-top: 1.5vh;
  margin-left: 0.8vw;
}

.sub-legend {
  width: 3.4vw;
  margin-top: 9vh;
  margin-left: 26vw;
  position: absolute;
}

.next {
  color: #595959;
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
}

.page2-total {
  text-align: center;
  line-height: 180%;
}

.filter-button {
  height: 5vh;
  width: 5.2vw;
  border: 2px solid #d9d9d9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  background: #ffffff;
  margin-right: 1vw;
  font-size: 2vh;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  font-family: "Noto Sans KR";
  align-items: center;
  width: 53.125vw;
  color: #595959;
  line-height: 150%;
  font-weight: 400;
  font-size: 2vh;
}

.filter-button.filtered {
  border: 2px solid #54bfcf;
  color: #54bfcf;
}

.button-category {
  margin-right: 3.1vw;
}

.filtered-contents {
  border: 2px solid #54bfcf;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  height: 42vh;
  width: 53.125vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  overflow: auto;
}

.page2-next {
  margin-bottom: -3vh;
  margin-top: -2.5vh;
  width: 55vw;
  text-align: left;
}

.selectall-container {
  height: 6.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7vh;
  margin-left: 10.5vw;
}

.selectall {
  line-height: 150%;
  color: #54bfcf;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid #54bfcf;
}

.clearall {
  line-height: 150%;
  color: #878787;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid #878787;
}

.filtered-table {
  width: 49vw;
  margin-bottom: 3.5vh;
}

.table-title {
  height: 4.4vh;
  background: #f5f5f5;
  color: #595959;
  font-family: "Noto Sans KR";
  font-weight: normal;
  font-size: 1.85vh;
  line-height: 150%;
}

.table-content {
  font-family: "Noto Sans KR";
  font-weight: normal;
  font-size: 1.85vh;
  line-height: 150%;
  color: #595959;
  text-align: center;
}

.filtered-title {
  font-size: 2.6vh;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 2.2vh;
  width: 49vw;
}

.filtered-contents-container {
  display: flex;
  align-items: center;
}

.move-forwards {
  border-bottom: 2px solid #878787;
  border-right: 2px solid #878787;
  transform: rotate(-45deg);
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}

.move-backwards {
  border-top: 2px solid #878787;
  border-left: 2px solid #878787;
  transform: rotate(-45deg);
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}
